<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReviewHub</title>
        <link rel="stylesheet" href="/styles/home.css" />
    </head>
    <body>
        <!-- Video Source -->
        <!-- https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->
        <section class="showcase">
            <header>
                <h2 class="logo">ReviewHub</h2>
                <div class="toggle"></div>
            </header>
            <!-- <video src="https://traversymedia.com/downloads/videos/explore.mp4" muted loop autoplay></video> -->
            <div class="overlay"></div>
            <div class="text">
                <h2> </h2>
                <h3>thoughts in a product!</h3>
                <p>
                    A tool to measure the frequency and impact of problems for your product, based on user feedback. It
                    separates them into various segments.
                </p>
                <a href="/feedback">Add your review</a>
            </div>
        </section>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/feedback">Feedback</a></li>
                <li><a href="/dashboard">Admin</a></li>
            </ul>
        </div>
        <script src="/js/home.js"></script>
    </body>
</html>
