<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rahul</title>
    </head>
    <body>
        <form method="POST" action="/funds/donatefunds">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Sam Gupta" />
                <label for="floatingPassword">Full Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingAmount" placeholder="100/-" />
                <label for="floatingAmount">Amount</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingDate" placeholder="15-11-2021" />
                <label for="floatingDate">Date</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                <label for="floatingInput">Email Address</label>
            </div>
            <button type="submit" class="btn btn-primary">Donate</button>
        </form>

        <script>
            const donate_button = document.getElementById("donate-form");
            donate_button.addEventListener("click", async () => {
                // const formData = new FormData(donate_button);
                // const data = Object.fromEntries(formData.entries());

                console.log(data);

                try {
                    let result = await axios({
                        method: "POST",
                        url: `/funds/donatefunds`,
                    });
                    console.log(result);
                    location.reload();
                } catch (error) {
                    console.log(error);
                }
            });
        </script>
    </body>
</html>
